.btn {
  display: flex;
  align-items: center;

  max-height: 60px;
  padding: 15px 20px;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  border: solid 1px rgba(255,255,255,.3);
  border-radius: 25px;

  transition: .3s;

  &:hover {

    border: solid 1px rgba(255,255,255,1);
    transition: .3s;
  }

  &_small-text {
    text-transform: none;
  }

  &_grey {
    color: rgba(180, 180, 180, .5);
    border: solid 1px rgba(180, 180, 180, .5);

    &:hover {
      color: rgba(180, 180, 180, 1);
      border: solid 1px rgba(180, 180, 180, 1);
    }
  }

  &_blue {
    background: #01679c;
    color: #fff;
  }

  &__grp {
    display: flex;
    justify-content: center;

    list-style: none;

    & .btn:first-child {
      margin-right: 20px;
    }
  }
}