*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #fff;

  font-family: 'Noto Serif JP', sans-serif;
  color: #666;
  line-height: normal;
  font-size: 16px;

}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1270px;
  padding: 0 15px;
}