.map {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;

  &__mask {
    position: relative;

    height: 100%;
    width: 100%;
    background: url(../images/map-mask.svg) top center no-repeat / cover;
    pointer-events: none;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 20;
  }

  &__wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
    border: 0;
  }
}

.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  display: none;
}
