.preview {
  position: relative;
  overflow: hidden;

  & .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: rgba(132, 181, 191, .78);

    &__text {
      color: #fff;
      text-align: center;
    }

    &__title {
      font-size: 40px;
    }

    &__desc {
      padding-top: 20px;
      margin-bottom: 50px;
    }
  }

  &-slider {
    width: 100%;
    height: 100vh;


    &__item {
        width: 100%;
        height: 100%;
    }
  }
}