.programs {

  &__header {
    padding: 60px 0 30px 0;

    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__footer {
    padding: 60px 0 50px 0;

    background: rgba(249, 249, 249, .7);

    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__desc {
    padding-right: 15px;
  }
}

.about-program {
  width: 700px;
  padding-right: 30px;
}