.slider-pagination {
  z-index: 50;
  position: absolute;
  bottom: 50px;

  display: flex;
  justify-content: center;
  width: 100%;

  list-style: none;
}

.slider-pagination li.slick-active {
  position: relative;
}
.slider-pagination li.slick-active:after {
  content: "";

  position: absolute;
  top: 6px!important;
  left: 0;

  width: 15px;
  height: 15px;

  background: rgba(255,255,255,1);
  border-radius: 50%;

}
.slider-pagination li button {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,.4);

  font-size: 0;

  border-radius: 50%;
  cursor: pointer;
  color: transparent;
  outline: none;
  border: none;
}

.slider-pagination li:last-child button {
  margin-right: 0;
}


.slick-list,.slick-track {
  height: 100%;
}