.social-list {
  display: flex;
  list-style: none;

  &__preview {
    justify-content: flex-end;
    margin-bottom: 90px;
    z-index: 100;
  }

  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    transition: .3s;

    &:hover {
      color: rgba(255,255,255,.3);

      transition: .3s;
    }
  }
}