.section__heading {
  color: #037098;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.section__title {
  color: #000;
  font-size: 32px;
  font-weight: bold;
}