.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;

    transition: .3s;

    &:hover {
      color: rgba(255,255,255,.3);

      transition: .3s;
    }
  }
  &__mobile {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
}