.preview {
  position: relative; }
  .preview__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .preview-slider {
    width: 100%; }
    .preview-slider__item {
      width: 100%;
      height: auto; }

.page {
  position: relative;
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1240px; }

.preview {
  background: #84b5bf; }

/*# sourceMappingURL=main.css.map */
