@media all and (max-width: 920px) {

  .top-nav__list {
    display: none;
  }

  .top-nav__mobile {
    display: block;
  }

  .social-list__preview {
    justify-content: center;
    margin-bottom: 20px;
  }

  .slider-pagination {
    bottom: 60px;
  }

}

@media all and (max-width: 576px) {
  .top-nav__logo > img {
    width: 200px;
    height: auto;
  }

  .section__heading {
    margin-bottom: 20px;
  }
  .programs__header > .container {
    flex-direction: column;
  }
  .programs__footer > .container {
    flex-direction: column;
  }
  .map {
    height: calc(100vh - 200px);
  }
  .about-program {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0px;
  }
  .programs__desc {
    margin-bottom: 20px;
    padding-right: 0px;
  }
  .section__heading {
    text-align: center;
  ;
  }
}