	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/09/2018 10:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
    font-size: 20px;
font-style: normal;
margin-left: 10px;
}

.flaticon-facebook-letter-logo:after { content: "\f100"; }
.flaticon-twitter-logo-silhouette:after { content: "\f101"; }
.flaticon-instagram:after { content: "\f102"; }
.flaticon-right-arrow:after { content: "\f103"; }