*, *:after, *:before {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Noto Serif JP', sans-serif;
  color: #666;
  line-height: normal;
  font-size: 16px; }

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1270px;
  padding: 0 15px; }

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  .top-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
  .top-nav__item {
    margin-right: 30px; }
    .top-nav__item:last-child {
      margin-right: 0; }
  .top-nav__link {
    color: #fff;
    text-decoration: none;
    transition: .3s; }
    .top-nav__link:hover {
      color: rgba(255, 255, 255, 0.3);
      transition: .3s; }
  .top-nav__mobile {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer; }

.preview {
  position: relative;
  overflow: hidden; }
  .preview .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .preview-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(132, 181, 191, 0.78); }
    .preview-content__text {
      color: #fff;
      text-align: center; }
    .preview-content__title {
      font-size: 40px; }
    .preview-content__desc {
      padding-top: 20px;
      margin-bottom: 50px; }
  .preview-slider {
    width: 100%;
    height: 100vh; }
    .preview-slider__item {
      width: 100%;
      height: 100%; }

.btn {
  display: flex;
  align-items: center;
  max-height: 60px;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  transition: .3s; }
  .btn:hover {
    border: solid 1px white;
    transition: .3s; }
  .btn_small-text {
    text-transform: none; }
  .btn_grey {
    color: rgba(180, 180, 180, 0.5);
    border: solid 1px rgba(180, 180, 180, 0.5); }
    .btn_grey:hover {
      color: #b4b4b4;
      border: solid 1px #b4b4b4; }
  .btn_blue {
    background: #01679c;
    color: #fff; }
  .btn__grp {
    display: flex;
    justify-content: center;
    list-style: none; }
    .btn__grp .btn:first-child {
      margin-right: 20px; }

.slider-pagination {
  z-index: 50;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none; }

.slider-pagination li.slick-active {
  position: relative; }

.slider-pagination li.slick-active:after {
  content: "";
  position: absolute;
  top: 6px !important;
  left: 0;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%; }

.slider-pagination li button {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  color: transparent;
  outline: none;
  border: none; }

.slider-pagination li:last-child button {
  margin-right: 0; }

.slick-list, .slick-track {
  height: 100%; }

.social-list {
  display: flex;
  list-style: none; }
  .social-list__preview {
    justify-content: flex-end;
    margin-bottom: 90px;
    z-index: 100; }
  .social-list__item {
    margin-right: 35px; }
    .social-list__item:last-child {
      margin-right: 0; }
  .social-list__link {
    color: white;
    text-decoration: none;
    transition: .3s; }
    .social-list__link:hover {
      color: rgba(255, 255, 255, 0.3);
      transition: .3s; }

.programs__header {
  padding: 60px 0 30px 0; }
  .programs__header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
.programs__footer {
  padding: 60px 0 50px 0;
  background: rgba(249, 249, 249, 0.7); }
  .programs__footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
.programs__desc {
  padding-right: 15px; }

.about-program {
  width: 700px;
  padding-right: 30px; }

.map {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden; }
  .map__mask {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../images/map-mask.svg) top center no-repeat/cover;
    pointer-events: none;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 20; }
  .map__wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  display: none; }

.section__heading {
  color: #037098;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.section__title {
  color: #000;
  font-size: 32px;
  font-weight: bold; }

@media all and (max-width: 920px) {
  .top-nav__list {
    display: none; }

  .top-nav__mobile {
    display: block; }

  .social-list__preview {
    justify-content: center;
    margin-bottom: 20px; }

  .slider-pagination {
    bottom: 60px; } }
@media all and (max-width: 576px) {
  .top-nav__logo > img {
    width: 200px;
    height: auto; }

  .section__heading {
    margin-bottom: 20px; }

  .programs__header > .container {
    flex-direction: column; }

  .programs__footer > .container {
    flex-direction: column; }

  .map {
    height: calc(100vh - 200px); }

  .about-program {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0px; }

  .programs__desc {
    margin-bottom: 20px;
    padding-right: 0px; }

  .section__heading {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
